.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #921c1c;
    color: #fff;
    padding: 20px;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-left: 2rem;
}

.navbar{
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

.navbar li{
    margin-left: 2rem;
}

.nav-link{
    color: #fff;
    text-decoration: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
}