h1{
  margin: 3rem 0 0 0 !important;
}

h2 {
  margin: 3rem 0 0 0;
  padding: 0;
}
h3{
  margin: 15px 0 0 0;
  padding: 0;
}


.container-list {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow-x: hidden;
}

.list{
  overflow-x: hidden;
}

.add-button,
.cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  color: #fff;
  border: 1px solid rgb(78, 10, 78);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-button:hover,
.cancel-button:hover {
  background-color: rgb(78, 10, 78);
  color: #fff;
}


ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  overflow-x: hidden;
}

li {
  border-bottom: 1px solid rgb(245, 245, 245);
}


.row-wine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  gap: 20px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 10px 0;
  background-color: rgb(247, 243, 243);
}


.row-wine div,
.header-row div {
  flex: 1 1 150px; 
  min-width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}


.row-wine div:last-child, .header-row div:last-child {
  flex: 0 0 50px; 
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s;
}

.clickable-row:hover {
  color: blueviolet;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

button:hover {
  color: blueviolet;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 70% !important;
  max-width: 1200px !important;
  min-width: 500px !important;
  min-height: 450px !important;
}

.separator-horizontal {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.label-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-group label {
  margin-right: 10px; 
}

.region-select {
  min-width: 250px;
}

.sml{
  max-width: 10%;
}

.xsml{
  max-width: 10%;
}

@media (max-width: 1200px) {
  .row-wine div,
  .header-row div {
    flex: 1 1 120px; 
  }
}

@media (max-width: 800px) {
  .row-wine div,
  .header-row div {
    flex: 1 1 80px; 
  }

  .col-disabled{
    display: none;
  }
}

@media (max-width: 600px) {

  h1{
    font-size: 65px !important;
  }

  .row-wine div,
  .header-row div {
    flex: 1 1 80px; 
  }

  .row-wine div:last-child, .header-row div:last-child {
    flex: 0 0 40px;
  }

  .xcol-disabled{
    display: none;
  }
}
