.formAddWine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1290px;
    min-width: 300px;
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 16px 0;
    width: 100%; 
    max-width: 300px; 
}

.form-group {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: 20px; 
}

.group-type > div {
    flex: 1;
    min-width: 200px; 
}

.cepage-select {
    min-width: 200px;
}


@media (max-width: 768px) {

    .formAddWine{
        width: 90%;
        padding: 10px;
    }

    .form-group {
        margin-top: 20px;;
    }
    
    .input {
        max-width: 100%;
        margin: 0;
    }

    .separator-horizontal {
        margin: 20px 0; 
    }
}
